/* TIMELINE DANS INDEX */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.js-cd-content .cd-timeline-after {
    display: none;
}

@media only screen and (min-width: 1170px) {
    .cd-is-hidden {
        visibility: hidden;
    }
}

.cd-img {
    width: 100%
}

.cd-timeline {
    //            overflow: hidden;
    margin: 2em auto;
}

.cd-timeline__container {
    position: static;
    width: 75%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2em 0;
	display: table;
}

.cd-timeline__container::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    left:50vw;

    height: 95.6%;
	bottom: 0;
    width: 1px;
    background: #d1d1d1;
	
}

@media only screen and (min-width: 1170px) {
    .cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .cd-timeline__container::before {
        left: 50%;
    }
}

.cd-timeline__block {
    position: relative;
    margin: 1em 0;
}

.cd-timeline__block:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cd-timeline__block:first-child {
    margin-top: 0;
}

.cd-timeline__block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline__block {
        margin: 4em 0;
    }
}

.cd-timeline__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;


}

.cd-timeline__img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

.cd-timeline__img.cd-timeline__img--picture {
    background: #eae9e9;
}

.cd-timeline__img.cd-timeline__img--picture2 {
    background: #eae9e9;
}

.cd-timeline__img.cd-timeline__img--picture3 {
    background: #e2e2e2;
}

.cd-timeline__img.cd-timeline__img--picture4 {
    background: #d6d6d6;
}

.cd-timeline__img.cd-timeline__img--picture5 {
    background: #cecece;
}

.cd-timeline__img.cd-timeline__img--picture6 {
    background: #c6c6c6;
}

.cd-timeline__img.cd-timeline__img--picture7 {
    background: #bebebe;
}

.cd-timeline__img.cd-timeline__img--picture8 {
    background: #b7b6b6;
}

.cd-timeline__img.cd-timeline__img--picture9 {
    background: #afafaf;
}

.cd-timeline__img.cd-timeline__img--picture10 {
    background: #a7a7a7;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline__img {
        width: 10px;
        height: 10px;
        left: 52.5%;
        margin-left: -30px;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .cd-timeline__img.cd-timeline__img--bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline__date{
    
    font-weight: bold;
    color:black;
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline__content {
    position: relative;
    margin-left: 30px;
    border: 1px solid #d1d1d1;
    background: white;
    border-radius: 0.25em;
    padding: 2em;


}

.cd-timeline__content:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cd-timeline__content::before {
    /* triangle next to content block */
/*
    content: '';
    position: absolute;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #f4f4f4;
*/

}

.cd-timeline__content p,
.cd-timeline__read-more,
.cd-timeline__date {

    font-size: 0.7vw;
}

.cd-timeline__content p {
    margin: 1em 0;
    line-height: 1;
}

.cd-timeline__read-more,
.cd-timeline__date {
    display: inline-block;
}

.cd-timeline__read-more {
    float: right;
    padding: 0.2em 0,4em;
    color: #a7a7a7;
    border-radius: 0.25em;
}

.cd-timeline__read-more:hover {
    background-color: #d1d1d1;
}

.cd-timeline__date {
    float: left;
    padding: .8em 0;
  
}

@media only screen and (min-width: 768px) {
    .cd-timeline__content h2 {
        font-size: 1rem;
    }
    .cd-timeline__content p {
        font-size: 0,9rem;
    }
    .cd-timeline__read-more,
    .cd-timeline__date {
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline__content {
        margin-left: 0;
        padding: 1.5em;
        width: 40%;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .cd-timeline__content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #f4f4f4;
    }
    .cd-timeline__read-more {
        float: left;
    }
    .cd-timeline__date {
        position: absolute;
        width: 100%;
        left: 130%;
        top: -20px;
        font-size: 1.1rem ;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content {
        float: right;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #f4f4f4;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
        float: right;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__date {
        left: auto;
        right: 130%;
        text-align: right;
    }
    .cd-timeline__content.cd-timeline__content--bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
