#footer {
    clear: both;
    position: absolute;
    bottom: -10vh;
    height: 10vh;
    width: 100%;
}



.floatright{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.25vw;
    color: rgba(100, 100, 100, 0.5);
    text-align: right;
    float: right;
    padding-left: 73vw;
    line-height: 2.25vw;

}


#footer img {
    height: 5vmin;
    width: auto;
    padding: 3vw;
    padding-left: 6vw;
    opacity:0.7;
}