form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 80vw;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 20vw;
    text-align: right;
    
}

input,
textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
    font-family: 'Cutive Mono', monospace;
    font-size: 2vh;

    /* Pour que tous les champs texte aient la même dimension */
    width: 50vw;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    background-color: rgba(203, 203, 203, 0.55);
}

input:focus,
textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
}

textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;

    /* Pour donner assez de place pour écrire du texte */
    height: 10em;
}

.button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 90px;
    /* même taille que les étiquettes */
}

button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
   
}
