body {
    background-image: url(Fond_Ath%C3%A8nes.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: 0;
    font-family: 'Cutive Mono', monospace;

}

header {
    color: black;
    font-family: 'Cutive Mono', monospace;
    padding: 40px;
    padding-left: 100px;
}

p {
    font-size: 6vh;
    text-align: center;
    line-height: 1vh;
}

.mainTitle {
    background-size: cover;
    font-size: 10vh;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    text-align: center;
    /*    vertical-align: middle;*/
    padding-top: 20vh;
    line-height: 0vh;
}

.global {
     margin-top: 20vh;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */
    width: 100%;
    height: 30vh;
}

.global img {
    height: 30vmin;
    width: auto;
}

.window {
     margin-top: 20vh;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */
    width: 100%;
    height: 30vh;
    text-align: center;
    font-size: 2.5vh;
}

.window img {
    height: 10vmin;
    width: auto;
    padding: 5vh;
}

.window p{
    font-size:3vh;
    padding-bottom: 3vh;
    line-height: 5vh;
}

.window a{
    font-size:2vh;
    padding-bottom: 3vh;
    line-height: 5vh;
}

a {
    text-decoration: none;
    color: black;
}

.global .col:nth-child(1) {
    left: 0;
}

.global .col:nth-child(2) {
    left: 25%;
}

.global .col:nth-child(3) {
    left: 50%;
}

.global .col:nth-child(4) {
    left: 75%;
}

.col {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0);
    transition: all .2s linear;
}

t {
    font-size: 2.5vh;
    padding-bottom: 20px;
    line-height: 60px;
    text-align: center;
}




