body{
	background-color: black
}

#panel{
    position:absolute;
    top:0px;
    left:1100px;
    width:500px;
    height:100%;
    color: white;
    padding: 2em;
    //    background-color: lightgray;
}

#mode-button{
    text-anchor: middle;
    stroke-weight: 3px;
    stroke: "lightgray";
}
 
